// http://dev.w3.org/csswg/css-device-adapt/#the-atviewport-rule
// http://dev.opera.com/articles/view/an-introduction-to-meta-viewport-and-viewport
@viewport
    width: device-width

// -. .-. MIXINS & VARIABLES .-. .-.
@import "mixins.styl"
@import "variables.styl"

// -. .-. SKIP LINKS .-. .-.
#skiplinks
    vhidden()

// -. .-. CORE .-. .-.

